body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Outfit';
    font-size: 15px;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.25rem;
    padding: 1.25rem;
    width: 20rem;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: 0.625rem;
}

.improve {
    font-size: 1.375rem;
    font-weight: 700;
}

.scan {
    font-size: 0.9rem;
    font-weight: 400;
    color: hsl(216, 15%, 48%)
}

@media (max-width: 375px) {
    .card {
        width: 280px;
        padding: 16px;
    }

    .improve {
        font-size: 18px;
    }

    .scan {
        font-size: 14px;
    }

}